<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="R8ncXTvDz1rNUdCEpz2H2yWtpE6o-gXq5cnMRlVEfP4"
    />
    <meta name="description" content="This page is personal Website" />
    <meta
      name="keywords"
      content="InsideAll,Anurag,railway,personal website,Sit,Portfolio,Tumkur,Siddaganga Institute of Technology"
    />
    <title>Anurag | Portfolio</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Silkscreen&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script
      src="https://kit.fontawesome.com/70e6afba34.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/TagCloud@2.2.0/dist/TagCloud.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"
      integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/MotionPathPlugin.min.js"
      integrity="sha512-Y6i/mURyP17N/zw/LOJkI+dMD3R935o6nxoXHHWH0Omb5tesvN1lAfyCMzOdxMJPVzTQRkMzT5JKN/iFwYO+bQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"
      integrity="sha512-5/OHwmQzDSBS0Ous4/hlYoWLHd06/d2r7LdKZQVBXOA6PvOqWVXtdboiLTU7lQTGyVoKVTNkwi0ol4gHGlw5ww=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
  </head>
  <body>
    <div class="overlay center">
      <h3 class="welcome fs-2">Please open this site in Desktop</h3>
    </div>
    <!-- <div class="rocket">
      <lottie-player
        src="https://assets8.lottiefiles.com/packages/lf20_ii6qdbgz.json"
        background="transparent"
        speed="1"
        style="width: 150px; height: 150px"
        loop
        autoplay
      ></lottie-player>
    </div> -->
    <div class="visualizer"></div>
    <canvas></canvas>
    <main>
      <div class="header-section center" id="home">
        <div
          class="taskbar"
          style="z-index: 10000; display: flex; align-items: center"
        >
          <!-- <div class="date-time">
            
        </div> -->
          <a
            href="https://www.instagram.com/gh0stparticle/"
            class="m-1"
            id="insta"
          >
            <svg
              fill="#eee"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              width="48px"
              height="48px"
            >
              <path
                d="M 31.820312 12 C 13.439312 12 12 13.439312 12 31.820312 L 12 32.179688 C 12 50.560688 13.439312 52 31.820312 52 L 32.179688 52 C 50.560688 52 52 50.560688 52 32.179688 L 52 32 C 52 13.452 50.548 12 32 12 L 31.820312 12 z M 28 16 L 36 16 C 47.129 16 48 16.871 48 28 L 48 36 C 48 47.129 47.129 48 36 48 L 28 48 C 16.871 48 16 47.129 16 36 L 16 28 C 16 16.871 16.871 16 28 16 z M 41.994141 20 C 40.889141 20.003 39.997 20.900859 40 22.005859 C 40.003 23.110859 40.900859 24.003 42.005859 24 C 43.110859 23.997 44.003 23.099141 44 21.994141 C 43.997 20.889141 43.099141 19.997 41.994141 20 z M 31.976562 22 C 26.454563 22.013 21.987 26.501437 22 32.023438 C 22.013 37.545437 26.501437 42.013 32.023438 42 C 37.545437 41.987 42.013 37.498562 42 31.976562 C 41.987 26.454563 37.498562 21.987 31.976562 22 z M 31.986328 26 C 35.299328 25.992 37.992 28.673328 38 31.986328 C 38.007 35.299328 35.326672 37.992 32.013672 38 C 28.700672 38.008 26.008 35.327672 26 32.013672 C 25.992 28.700672 28.673328 26.008 31.986328 26 z"
              />
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/insideall"
            class="m-1"
            class="link"
          >
            <?xml version="1.0"?><svg
              fill="#eee"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 50 50"
              width="48px"
              height="48px"
            >
              <path
                d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
              />
            </svg>
          </a>
          <div class="logo">
            <svg
              width="30"
              height="30"
              viewBox="0 0 524 497"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M233.133 173.267V0L126.687 173.267H233.133Z"
                fill="white"
              />
              <path d="M279 236.267V63L394.442 236.267H279Z" fill="white" />
              <path
                d="M116.174 219.802H233.133L0 431.683L116.174 219.802Z"
                fill="white"
              />
              <path
                d="M401.6 284.782H279L523.378 496.663L401.6 284.782Z"
                fill="white"
              />
            </svg>
          </div>
          <a href="https://github.com/AnuragCool" class="m-1" id="github">
            <svg
              fill="#eee"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              width="48px"
              height="48px"
            >
              <path
                d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z"
              />
            </svg>
          </a>
          <a
            href="https://t.snapchat.com/AZKNbG33"
            class="m-1"
            class="snapchat"
          >
            <svg
              fill="#eee"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 64 64"
              width="48px"
              height="48px"
            >
              <path
                d="M53.854,41.708c0.306,0.98,0.167,2.01-0.77,2.958c-1.495,1.512-4.103,1.89-4.433,2.201c-0.33,0.312-0.475,1.495-1.526,2.171	c-1.052,0.676-2.349,0.659-3.014,0.709c-2.677,0.204-3.378,0.328-5.047,1.393c-0.539,0.344-3.187,2.16-7.064,2.16	s-6.525-1.816-7.064-2.16c-1.669-1.065-2.37-1.189-5.047-1.393c-0.665-0.051-1.962-0.033-3.014-0.709	c-1.052-0.676-1.197-1.86-1.526-2.171c-0.33-0.312-2.938-0.689-4.433-2.201c-0.937-0.948-1.075-1.978-0.77-2.958	c0.402-1.289,1.812-1.735,2.627-2.201c4.464-2.555,5.179-4.996,5.391-5.358c0.085-0.146,0.295-0.631-0.18-1.018	c-0.439-0.358-2.781-1.497-3.766-3.212c-0.511-0.89-0.646-2.247-0.185-3.194c0.738-1.516,1.96-2.399,3.654-2.399	c0.62,0,1.247,0.159,1.337,0.181c0.034-0.977,0.036-2.109,0.099-3.13C19.385,17.11,22.966,10,32,10s12.615,7.11,12.877,11.376	c0.063,1.021,0.065,2.153,0.099,3.13c0.09-0.021,0.717-0.181,1.337-0.181c1.694,0,2.917,0.884,3.654,2.399	c0.461,0.948,0.327,2.304-0.185,3.194c-0.986,1.715-3.328,2.854-3.766,3.212c-0.475,0.388-0.265,0.873-0.18,1.018	c0.211,0.361,0.926,2.803,5.391,5.358C52.042,39.973,53.452,40.42,53.854,41.708z"
              />
            </svg>
          </a>
        </div>
        <div class="nav-bar">
          <div class="menu center p-2">Menu</div>
          <hr />
          <div class="list">
            <a href="#home" id="m1" class="list-item">Home</a>
            <a href="#about" id="m2" class="list-item">About</a>
            <a href="#skill" id="m3" class="list-item">Skill</a>
            <a href="#project" id="m4" class="list-item">Project</a>
            <!-- <a href="" id="m5" class="list-item">Contact</a> -->
          </div>
        </div>
        <div class="play-btn"></div>
        <div id="vd"></div>
        <div id="vd1"></div>
        <div class="follow-me center">
          <div class="content">
            <p>anuragcooldavkh@gmail.com</p>
          </div>
          <div class="hr"></div>
        </div>
        <div class="logo-back">
          <svg
            width="500"
            height="500"
            class="mouse"
            viewBox="0 0 524 497"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="id1"
              stroke="white"
              d="M233.133 173.267V0L126.687 173.267H233.133Z"
              fill="rgba(231, 231, 231, 0.121)"
            />
            <path
              id="id2"
              d="M279 236.267V63L394.442 236.267H279Z"
              fill="#9aabe6"
            />
            <path
              id="id3"
              d="M116.174 219.802H233.133L0 431.683L116.174 219.802Z"
              fill="#9aabe6"
            />
            <path
              id="id4"
              stroke="white"
              d="M401.6 284.782H279L523.378 496.663L401.6 284.782Z"
              fill="rgba(231, 231, 231, 0.121)"
            />
          </svg>
        </div>
        <div class="container object sk">
          <div class="col1" data-aos="zoom-out">
            <div class="date-time">
              <span class="day f-w"></span>
              <span class="month f-w"></span>
              <span class="year f-w"></span>
              <script>
                var date = new Date();
                var day = date.getDate();
                var m = date.getMonth();
                var year = date.getFullYear();
                const month = [
                  'January',
                  'February',
                  'March',
                  'April',
                  'May',
                  'June',
                  'July',
                  'August',
                  'September',
                  'October',
                  'November',
                  'December',
                ];
                document.querySelector('.day').innerHTML = `${day}`;
                document.querySelector('.month').innerHTML = month[m];
                document.querySelector('.year').innerHTML = `${year}`;
              </script>
            </div>
            <p class="sub-heading m-0 p-0 f-w" data-aos="fade-in">
              Hi, My name is
            </p>
            <h1 class="welcome" data-aos="zoom-in">Anurag</h1>

            <h2 class="sub-heading f-w">
              I am a Student and Upcoming Intern at &nbsp;
              <a
                style="color: red; font-family: starjedi; font-size: 2rem"
                href="https://sabre.com/"
                >Sabre</a
              >
            </h2>

            <p id="info" class="para f-w">
              I am currently pursuing computer science and engineering at
              Siddaganga Institute of Technology (Batch 2023).
            </p>
          </div>
        </div>
      </div>
      <div class="about-section section" id="about">
        <div class="container object sk1">
          <div class="col1">
            <h3 class="welcome">1.0 -> Something About Me</h3>
            <p class="para f-w">
              Hello! My name is Anurag. I am from Patna, Bihar. I enjoy creating
              things that runs on your browser. My interest in web development
              started when i was in my first year of college and from then i
              have learnt a lot about HTML and CSS.
              <br />
              <br />
              I am currently in my final year of my engineering in Computer
              Science and Engineering.
              <br />
              When I am not working, I spend my time in fulfilling and relaxing
              pursuits such as listening songs, internet surfing, playing games.
            </p>
          </div>
          <div class="col1 center">
            <div class="img"></div>
          </div>
        </div>
      </div>
      <div class="skill-section section" id="skill">
        <div class="container">
          <div class="col1 center">
            <h3 class="welcome">2.0 -> What i got</h3>
            <p class="f-w">
              Here are some of the Technology that i have worked with
            </p>
          </div>
          <div class="col1 center">
            <span class="sphere center"> </span>
          </div>
        </div>
      </div>
      <div class="projects section" id="project">
        <div class="container">
          <div class="col1">
            <h2 class="welcome">3.0 -> Things i worked on</h2>
          </div>
          <div class="col1 center"></div>
        </div>
        <div class="container">
          <div class="col1">
            <h3 class="sub-heading f-w">Featured Project</h3>
            <h2 class="welcome">Online Auction Site</h2>
            <div class="project-info">
              <p class="para f-w">
                The main objective of this project was an attempt to improve
                online auction system by reducing shill biding and providing a
                secure environment of bidders and sellers.
              </p>
            </div>
            <div class="tech-used f-w">
              <span>HTML</span>
              <span>CSS</span>
              <span>JavaScript</span>
              <span>Nodejs</span>
              <span>jQuery</span>
              <span>Firebase</span>
            </div>
          </div>
          <div class="col1 center">
            <div class="project-img"></div>
          </div>
        </div>
        <div class="container object special">
          <div class="col1 center">
            <div class="project-img">
              <img src="/img/scriptink.png" alt="" />
            </div>
            <div class="links">
              <a href="http://www.scriptink.in/">scriptink.in</a>
            </div>
          </div>
          <div class="col1">
            <h3 class="sub-heading f-w">Featured Project</h3>
            <h2 class="welcome">Scriptink Website</h2>
            <div class="project-info">
              <p class="para f-w">
                Designed and build a website for Scriptink Organization -
                Scriptink is established as the Literary Club of Siddaganga
                Institute of Technology, Tumkur, Karnataka. Furthermore, it is
                also a registered organization on Google under the Arts &
                Literature category, backed-up by the Computer Society of India
                (CSI) and Amazon which recognized it as a successful start-up
                under the AWS Activate 2020 program.
              </p>
            </div>
            <div class="tech-used f-w">
              <span>HTML</span>
              <span>CSS</span>
              <span>JavaScript</span>
              <span>Nodejs</span>
              <span>jQuery</span>
              <span>Firebase</span>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col1">
            <h3 class="sub-heading f-w">Featured Project</h3>
            <h2 class="welcome">Covid Tracker</h2>
            <div class="project-info">
              <p class="para f-w">
                During start of covid pandemic it was very difficult to get
                update of current cases, Therefore I decided to make an android
                application that real time updates the count of active,
                recovered and deceased cases at district level in india and
                globally.
              </p>
            </div>
            <div class="tech-used f-w">
              <span>Java</span>
              <span>Android Studio</span>
              <span>Google Apis</span>
              <span>Api</span>
            </div>
          </div>
          <div class="col1 center">
            <div class="project-img">
              <img src="/img/covid.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container object center">
          <p class="f">Designed and Built by Anurag</p>
        </div>
      </div>
    </main>
    <script src="/js/play.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/interact.js"></script>
    <!-- <script src="/js/scroll-trigger.js"></script> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
